In [30]:
original_dict = {'a': 1, 'b': None, 'c': 3, 'd': None}
new_dict={}

for i,j in original_dict.items():
    if j==None:
        new_dict[i]='N/A'
    else: new_dict[i]=j
print("updated dictionary is",new_dict)

updated dictionary is {'a': 1, 'b': 'N/A', 'c': 3, 'd': 'N/A'}

In [3]:
#Replacing nulls in a list

old_list =[2,3,'s','Null']
new_list=[]
for i in old_list:
    if i=='Null':
        new_list.append('Nonull')
    else:
        new_list.append(i)

print("Original list",old_list)
print("New List",new_list)

Original list [2, 3, 's', 'Null']
New List [2, 3, 's', 'Nonull']

Reverse a string

In [7]:

s = 'hello'
reversed_str = ""
for char in s:
    reversed_str = char + reversed_str

In [15]:
s = "the dog is barking"
doca={}
for i in s:
    if i in doca:
        doca[i] += 1
    else:
        doca[i]=1

print(doca)

{'t': 1, 'h': 1, 'e': 1, ' ': 3, 'd': 1, 'o': 1, 'g': 2, 'i': 2, 's': 1, 'b': 1, 'a': 1, 'r': 1, 'k': 1, 'n': 1}

In [21]:
#Find out non repeating character
s = "the dog was barking"
d ={}
for i in s:
    if i in d:
        d[i] += 1
    else :
        d[i]=1

for x,y in d.items():
    # print(y)
    if y==1:
        print("Non repeating character is ",x)

Non repeating character is  t
Non repeating character is  h
Non repeating character is  e
Non repeating character is  d
Non repeating character is  o
Non repeating character is  w
Non repeating character is  s
Non repeating character is  b
Non repeating character is  r
Non repeating character is  k
Non repeating character is  i
Non repeating character is  n

In [25]:
#Remove duplicates from string
s = "the dog is barking"
lst=[]
s1=""
for i in s:
    if i not in lst and i !=" ":
        lst.append(i)
        s1=s1+i
print("After removing duplicates string is",lst)
print("After removing duplicates string is",s1)

After removing duplicates string is ['t', 'h', 'e', 'd', 'o', 'g', 'i', 's', 'b', 'a', 'r', 'k', 'n']
After removing duplicates string is thedogisbarkn

In [44]:
#Change "has" to "had"

s="he has the ball in the court"
# if "has" in s:
#     s =s.replace("has","had")
# print(s)
target ="has"
achieve ="had"
result=""
i=0
while i<(len(s)):
    if s[i:i+len(target)]==target:
        result = result+achieve
        i+=len(target)
    else:
        result= result+s[i]
        i+=1
print(result)

he had the ball in the court

In [ ]:
#Print the repeated numbers in a string

def extract_numbers(text):
    numbers = []
    current_num = ""
    
    for char in text:
        if char.isdigit():
            current_num += char
        else:
            if current_num:
                numbers.append(current_num)
                current_num = ""
    
    # Add the last number if the string ends with digits
    if current_num:
        numbers.append(current_num)
    
    return numbers

# Test Case
text = "my email id is s.s23@gmail.com and my date of birth is 02 March 1989"
print(extract_numbers(text))  # Output: ['23', '02', '1989']

['23', '02', '1989']

In [3]:
!pip install pandas -q

In [4]:
import pandas as pd
import numpy as np

data = {
    'region': ['East', 'West', 'East', 'North', 'West', 'North'],
    'product': ['A', 'B', 'A', 'B', 'A', 'A'],
    'sales': [1200, 800, 1500, 200, 1100, 900],
    'quantity': [5, 3, 7, 2, 4, 6]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
  region product  sales  quantity
0   East       A   1200         5
1   West       B    800         3
2   East       A   1500         7
3  North       B    200         2
4   West       A   1100         4
5  North       A    900         6

In [ ]:
filtered_df = df[(df['sales'] > 1000) & (df['region'] == 'East')]

print("Filtered Dataframe is \n", filtered_df)
#Rows Filter
filtered_rows = df.query('sales > 1000')
print("Filtered rows are \n",filtered_rows)

Filtered Dataframe is
   region product  sales  quantity
0   East       A   1200         5
2   East       A   1500         7
Filtered rows are
   region product  sales  quantity
0   East       A   1200         5
2   East       A   1500         7
4   West       A   1100         4

In [17]:
sum_by_region = df.groupby('region')['sales'].sum().reset_index(name='total_sales')
print("\nTotal sales per region:")
print(sum_by_region)

Total sales per region:
  region  total_sales
0   East         2700
1  North         1100
2   West         1900

In [12]:
avg_by_product = df.groupby('product').agg(avg_sales=('sales', 'mean'),avg_quantity=('quantity', 'mean')
).reset_index()
print("\nAverage metrics per product:")
print(avg_by_product)

Average metrics per product:
  product  avg_sales  avg_quantity
0       A     1175.0           5.5
1       B      500.0           2.5

In [13]:
result = (
    df[df['quantity'] >= 4]
    .groupby('product')
    .agg(total_sales=('sales', 'sum'), avg_quantity=('quantity', 'mean'))
    .reset_index()
)
print("\nChained Operations (Quantity >=4):")
print(result)

Chained Operations (Quantity >=4):
  product  total_sales  avg_quantity
0       A         4700           5.5

In [ ]:
sum_by_region = df.groupby(['product','region'])['sales'].sum().sort_values(ascending=False).reset_index(name='total_sales')
print("\nTotal sales per region:")
print(sum_by_region)

#highlighting highest sales
max_sales_row = sum_by_region.nlargest(1, 'total_sales')
print(max_sales_row)

Total sales per region:
  product region  total_sales
0       A   East         2700
1       A   West         1100
2       A  North          900
3       B   West          800
4       B  North          200
  product region  total_sales
0       A   East         2700

In [27]:
min_sales_rows = df[df['sales'] == df['sales'].min()]
print(min_sales_rows)

  region product  sales  quantity
3  North       B    200         2

In [31]:
#Using Lambda function

#Odd numbers squared, even numbers unchanged

numbers = [1, 2, 3, 4, 5, 6]
result = [(lambda x: x ** 2 if x % 2 != 0 else x)(num) for num in numbers]
print(result)

[1, 2, 9, 4, 25, 6]

In [ ]:
#Remove all the duplicate chacters which are in continuous next to each other
s = "tttthhheee  dddog is bbbaaarrkinnng"
new_s=""
for i in s:
    if len(new_s)==0:
        new_s+=i
    elif i != new_s[-1]:
        new_s+=i
print("New string is ",new_s)

New string is  the dog is barking

'g'