Randomizing the Items of a List in Python

In [1]:
from random import shuffle

lst = ['Python', 'is', 'Easy']
shuffle(lst)
print(lst)

['is', 'Easy', 'Python']

Merge Two Sorted Lists

In [2]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

# Example usage:
print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))

[1, 2, 3, 4, 5, 6]

In [3]:
name = ["Tanu", "Nanda", "Prabhu"]
name.sort()

In [4]:
name[0]

'Nanda'

In [5]:

# Creating a new list called Cars
cars = ["Mercedes", "BMW", "Audi"]
bikes = ["Honda", "Yamaha", "Aprilla"]
cars_bikes = cars + bikes
cars_bikes

['Mercedes', 'BMW', 'Audi', 'Honda', 'Yamaha', 'Aprilla']

In Python the "for" and "in" are called constructs, these constructs are easy to use, they are used whenever you need to iterate over a list.

In [6]:
# Creating a list
num = [1, 2, 3, 4, 5]
# Assigning sum to 0
sum = 0
# Using a for loop to iterate over the list
for i in num:
  sum = sum + i
print(sum) # 15

15

In [7]:
name = ['Tanu', 'Nanda']
name.append("Prabhu")
name

['Tanu', 'Nanda', 'Prabhu']

In [8]:
name.insert(2, "Prabhu")
name

['Tanu', 'Nanda', 'Prabhu', 'Prabhu']

In [9]:
name.extend(["Prabhu"])
name

['Tanu', 'Nanda', 'Prabhu', 'Prabhu', 'Prabhu']

In [10]:
name.extend("Prabhu")
name

['Tanu', 'Nanda', 'Prabhu', 'Prabhu', 'Prabhu', 'P', 'r', 'a', 'b', 'h', 'u']