In [ ]:
DR

  region product  totAL_SALES
0   East       A         2700
1  North       A          900
2  North       B          200
3   West       A         1100
4   West       B          800

In [52]:
str1 = 'bat'
str2 = 'tab'
d = {}
if len(str1)!=len(str2):
    print(":Not anagram")
else:
    for i in str1:
        if i in d.keys():
            d[i]+=1
        else:
            d[i]=1
    print("Initial dict",d)
    for j in str2:
        if j in d.keys():
            d[j]-=1
        if d[j] ==0:
            del d[j]

    if not d:
        print("Anagram")
    else:
        print("Not Anagram")

Initial dict {'b': 1, 'a': 1, 't': 1}
Anagram

In [33]:
#Anagram

str1 = "tab"
str2 = "bat"
d= {}

if len(str1)!=len(str2):

    print("not Anagram")
else:
    for i in str1:
        if i in d.keys():
            d[i]+=1
        else:
            d[i]=1
    print("Old Dict is ",d)
    for j in str2:
        if j in d.keys():
            d[j]-=1
        if d[j]==0:
            del d[j]
    print("New dict is",d)
    if len(d)!=0:
        print("Not Anagram")
    else:
        print("Anagram")

Old Dict is  {'t': 1, 'a': 1, 'b': 1}
New dict is {}
Anagram

In [ ]:
#reverse a string with generator

def reverse(st: str) -> str:
    length = len(st)
    for i in range (length-1,-1,-1):
        yield st[i]

for char in reverse("Hello"):
    print(char)

o
l
l
e
H

:

In [18]:
def prime(n):
    l=[]
    if n<=1:
        return "not prime number"
    else:
        for i in range(2,n):
            is_prime = True
            for j in range(2,i):
                if i%j==0:
                    is_prime=False
            if is_prime:
                l.append(i)
        return l
# def check_prime(n):
#     while i<=n:
#         return prime(i)
#         i--
print(prime(10))

[2, 3, 5, 7]

In [1]:
st = "dog is barking"

d = {}
for i in st:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'d': 1, 'o': 1, 'g': 2, ' ': 2, 'i': 2, 's': 1, 'b': 1, 'a': 1, 'r': 1, 'k': 1, 'n': 1}

In [3]:
s = "he has the ball in the court"
word = s.split()
index = word.index('has')
word[index]='had'
s_change = " ".join(word)
s_change

'he had the ball in the court'

In [4]:
import pandas as pd
import numpy as np

data = {
    'region': ['East', 'West', 'East', 'North', 'West', 'North'],
    'product': ['A', 'B', 'A', 'B', 'A', 'A'],
    'sales': [1200, 800, 1500, 200, 1100, 900],
    'quantity': [5, 3, 7, 2, 4, 6]
}

df = pd.DataFrame(data)
df

  region product  sales  quantity
0   East       A   1200         5
1   West       B    800         3
2   East       A   1500         7
3  North       B    200         2
4   West       A   1100         4
5  North       A    900         6

In [ ]:
df['Category'] = df['sales'].apply(lambda x: "high" if x>500 else "Low")
df

  region product  sales  quantity Category
0   East       A   1200         5     high
1   West       B    800         3     high
2   East       A   1500         7     high
3  North       B    200         2      Low
4   West       A   1100         4     high
5  North       A    900         6     high

In [11]:
df.groupby(['region','product'])['sales'].sum().reset_index(name = "Total Sales")

  region product  Total Sales
0   East       A         2700
1  North       A          900
2  North       B          200
3   West       A         1100
4   West       B          800

In [12]:
df.isnull().sum()

region      0
product     0
sales       0
quantity    0
dtype: int64

In [16]:
from itertools import permutations

s = "parrot"
perm = ["".join(p) for p in permutations(s)]
print("Permutations are ",perm)

Permutations are  ['parrot', 'parrto', 'parort', 'parotr', 'partro', 'partor', 'parrot', 'parrto', 'parort', 'parotr', 'partro', 'partor', 'paorrt', 'paortr', 'paorrt', 'paortr', 'paotrr', 'paotrr', 'patrro', 'patror', 'patrro', 'patror', 'patorr', 'patorr', 'prarot', 'prarto', 'praort', 'praotr', 'pratro', 'prator', 'prraot', 'prrato', 'prroat', 'prrota', 'prrtao', 'prrtoa', 'proart', 'proatr', 'prorat', 'prorta', 'protar', 'protra', 'prtaro', 'prtaor', 'prtrao', 'prtroa', 'prtoar', 'prtora', 'prarot', 'prarto', 'praort', 'praotr', 'pratro', 'prator', 'prraot', 'prrato', 'prroat', 'prrota', 'prrtao', 'prrtoa', 'proart', 'proatr', 'prorat', 'prorta', 'protar', 'protra', 'prtaro', 'prtaor', 'prtrao', 'prtroa', 'prtoar', 'prtora', 'poarrt', 'poartr', 'poarrt', 'poartr', 'poatrr', 'poatrr', 'porart', 'poratr', 'porrat', 'porrta', 'portar', 'portra', 'porart', 'poratr', 'porrat', 'porrta', 'portar', 'portra', 'potarr', 'potarr', 'potrar', 'potrra', 'potrar', 'potrra', 'ptarro', 'ptaror', 'ptarro', 'ptaror', 'ptaorr', 'ptaorr', 'ptraro', 'ptraor', 'ptrrao', 'ptrroa', 'ptroar', 'ptrora', 'ptraro', 'ptraor', 'ptrrao', 'ptrroa', 'ptroar', 'ptrora', 'ptoarr', 'ptoarr', 'ptorar', 'ptorra', 'ptorar', 'ptorra', 'aprrot', 'aprrto', 'aprort', 'aprotr', 'aprtro', 'aprtor', 'aprrot', 'aprrto', 'aprort', 'aprotr', 'aprtro', 'aprtor', 'aporrt', 'aportr', 'aporrt', 'aportr', 'apotrr', 'apotrr', 'aptrro', 'aptror', 'aptrro', 'aptror', 'aptorr', 'aptorr', 'arprot', 'arprto', 'arport', 'arpotr', 'arptro', 'arptor', 'arrpot', 'arrpto', 'arropt', 'arrotp', 'arrtpo', 'arrtop', 'aroprt', 'aroptr', 'arorpt', 'arortp', 'arotpr', 'arotrp', 'artpro', 'artpor', 'artrpo', 'artrop', 'artopr', 'artorp', 'arprot', 'arprto', 'arport', 'arpotr', 'arptro', 'arptor', 'arrpot', 'arrpto', 'arropt', 'arrotp', 'arrtpo', 'arrtop', 'aroprt', 'aroptr', 'arorpt', 'arortp', 'arotpr', 'arotrp', 'artpro', 'artpor', 'artrpo', 'artrop', 'artopr', 'artorp', 'aoprrt', 'aoprtr', 'aoprrt', 'aoprtr', 'aoptrr', 'aoptrr', 'aorprt', 'aorptr', 'aorrpt', 'aorrtp', 'aortpr', 'aortrp', 'aorprt', 'aorptr', 'aorrpt', 'aorrtp', 'aortpr', 'aortrp', 'aotprr', 'aotprr', 'aotrpr', 'aotrrp', 'aotrpr', 'aotrrp', 'atprro', 'atpror', 'atprro', 'atpror', 'atporr', 'atporr', 'atrpro', 'atrpor', 'atrrpo', 'atrrop', 'atropr', 'atrorp', 'atrpro', 'atrpor', 'atrrpo', 'atrrop', 'atropr', 'atrorp', 'atoprr', 'atoprr', 'atorpr', 'atorrp', 'atorpr', 'atorrp', 'rparot', 'rparto', 'rpaort', 'rpaotr', 'rpatro', 'rpator', 'rpraot', 'rprato', 'rproat', 'rprota', 'rprtao', 'rprtoa', 'rpoart', 'rpoatr', 'rporat', 'rporta', 'rpotar', 'rpotra', 'rptaro', 'rptaor', 'rptrao', 'rptroa', 'rptoar', 'rptora', 'raprot', 'raprto', 'raport', 'rapotr', 'raptro', 'raptor', 'rarpot', 'rarpto', 'raropt', 'rarotp', 'rartpo', 'rartop', 'raoprt', 'raoptr', 'raorpt', 'raortp', 'raotpr', 'raotrp', 'ratpro', 'ratpor', 'ratrpo', 'ratrop', 'ratopr', 'ratorp', 'rrpaot', 'rrpato', 'rrpoat', 'rrpota', 'rrptao', 'rrptoa', 'rrapot', 'rrapto', 'rraopt', 'rraotp', 'rratpo', 'rratop', 'rropat', 'rropta', 'rroapt', 'rroatp', 'rrotpa', 'rrotap', 'rrtpao', 'rrtpoa', 'rrtapo', 'rrtaop', 'rrtopa', 'rrtoap', 'ropart', 'ropatr', 'roprat', 'roprta', 'roptar', 'roptra', 'roaprt', 'roaptr', 'roarpt', 'roartp', 'roatpr', 'roatrp', 'rorpat', 'rorpta', 'rorapt', 'roratp', 'rortpa', 'rortap', 'rotpar', 'rotpra', 'rotapr', 'rotarp', 'rotrpa', 'rotrap', 'rtparo', 'rtpaor', 'rtprao', 'rtproa', 'rtpoar', 'rtpora', 'rtapro', 'rtapor', 'rtarpo', 'rtarop', 'rtaopr', 'rtaorp', 'rtrpao', 'rtrpoa', 'rtrapo', 'rtraop', 'rtropa', 'rtroap', 'rtopar', 'rtopra', 'rtoapr', 'rtoarp', 'rtorpa', 'rtorap', 'rparot', 'rparto', 'rpaort', 'rpaotr', 'rpatro', 'rpator', 'rpraot', 'rprato', 'rproat', 'rprota', 'rprtao', 'rprtoa', 'rpoart', 'rpoatr', 'rporat', 'rporta', 'rpotar', 'rpotra', 'rptaro', 'rptaor', 'rptrao', 'rptroa', 'rptoar', 'rptora', 'raprot', 'raprto', 'raport', 'rapotr', 'raptro', 'raptor', 'rarpot', 'rarpto', 'raropt', 'rarotp', 'rartpo', 'rartop', 'raoprt', 'raoptr', 'raorpt', 'raortp', 'raotpr', 'raotrp', 'ratpro', 'ratpor', 'ratrpo', 'ratrop', 'ratopr', 'ratorp', 'rrpaot', 'rrpato', 'rrpoat', 'rrpota', 'rrptao', 'rrptoa', 'rrapot', 'rrapto', 'rraopt', 'rraotp', 'rratpo', 'rratop', 'rropat', 'rropta', 'rroapt', 'rroatp', 'rrotpa', 'rrotap', 'rrtpao', 'rrtpoa', 'rrtapo', 'rrtaop', 'rrtopa', 'rrtoap', 'ropart', 'ropatr', 'roprat', 'roprta', 'roptar', 'roptra', 'roaprt', 'roaptr', 'roarpt', 'roartp', 'roatpr', 'roatrp', 'rorpat', 'rorpta', 'rorapt', 'roratp', 'rortpa', 'rortap', 'rotpar', 'rotpra', 'rotapr', 'rotarp', 'rotrpa', 'rotrap', 'rtparo', 'rtpaor', 'rtprao', 'rtproa', 'rtpoar', 'rtpora', 'rtapro', 'rtapor', 'rtarpo', 'rtarop', 'rtaopr', 'rtaorp', 'rtrpao', 'rtrpoa', 'rtrapo', 'rtraop', 'rtropa', 'rtroap', 'rtopar', 'rtopra', 'rtoapr', 'rtoarp', 'rtorpa', 'rtorap', 'oparrt', 'opartr', 'oparrt', 'opartr', 'opatrr', 'opatrr', 'oprart', 'opratr', 'oprrat', 'oprrta', 'oprtar', 'oprtra', 'oprart', 'opratr', 'oprrat', 'oprrta', 'oprtar', 'oprtra', 'optarr', 'optarr', 'optrar', 'optrra', 'optrar', 'optrra', 'oaprrt', 'oaprtr', 'oaprrt', 'oaprtr', 'oaptrr', 'oaptrr', 'oarprt', 'oarptr', 'oarrpt', 'oarrtp', 'oartpr', 'oartrp', 'oarprt', 'oarptr', 'oarrpt', 'oarrtp', 'oartpr', 'oartrp', 'oatprr', 'oatprr', 'oatrpr', 'oatrrp', 'oatrpr', 'oatrrp', 'orpart', 'orpatr', 'orprat', 'orprta', 'orptar', 'orptra', 'oraprt', 'oraptr', 'orarpt', 'orartp', 'oratpr', 'oratrp', 'orrpat', 'orrpta', 'orrapt', 'orratp', 'orrtpa', 'orrtap', 'ortpar', 'ortpra', 'ortapr', 'ortarp', 'ortrpa', 'ortrap', 'orpart', 'orpatr', 'orprat', 'orprta', 'orptar', 'orptra', 'oraprt', 'oraptr', 'orarpt', 'orartp', 'oratpr', 'oratrp', 'orrpat', 'orrpta', 'orrapt', 'orratp', 'orrtpa', 'orrtap', 'ortpar', 'ortpra', 'ortapr', 'ortarp', 'ortrpa', 'ortrap', 'otparr', 'otparr', 'otprar', 'otprra', 'otprar', 'otprra', 'otaprr', 'otaprr', 'otarpr', 'otarrp', 'otarpr', 'otarrp', 'otrpar', 'otrpra', 'otrapr', 'otrarp', 'otrrpa', 'otrrap', 'otrpar', 'otrpra', 'otrapr', 'otrarp', 'otrrpa', 'otrrap', 'tparro', 'tparor', 'tparro', 'tparor', 'tpaorr', 'tpaorr', 'tpraro', 'tpraor', 'tprrao', 'tprroa', 'tproar', 'tprora', 'tpraro', 'tpraor', 'tprrao', 'tprroa', 'tproar', 'tprora', 'tpoarr', 'tpoarr', 'tporar', 'tporra', 'tporar', 'tporra', 'taprro', 'tapror', 'taprro', 'tapror', 'taporr', 'taporr', 'tarpro', 'tarpor', 'tarrpo', 'tarrop', 'taropr', 'tarorp', 'tarpro', 'tarpor', 'tarrpo', 'tarrop', 'taropr', 'tarorp', 'taoprr', 'taoprr', 'taorpr', 'taorrp', 'taorpr', 'taorrp', 'trparo', 'trpaor', 'trprao', 'trproa', 'trpoar', 'trpora', 'trapro', 'trapor', 'trarpo', 'trarop', 'traopr', 'traorp', 'trrpao', 'trrpoa', 'trrapo', 'trraop', 'trropa', 'trroap', 'tropar', 'tropra', 'troapr', 'troarp', 'trorpa', 'trorap', 'trparo', 'trpaor', 'trprao', 'trproa', 'trpoar', 'trpora', 'trapro', 'trapor', 'trarpo', 'trarop', 'traopr', 'traorp', 'trrpao', 'trrpoa', 'trrapo', 'trraop', 'trropa', 'trroap', 'tropar', 'tropra', 'troapr', 'troarp', 'trorpa', 'trorap', 'toparr', 'toparr', 'toprar', 'toprra', 'toprar', 'toprra', 'toaprr', 'toaprr', 'toarpr', 'toarrp', 'toarpr', 'toarrp', 'torpar', 'torpra', 'torapr', 'torarp', 'torrpa', 'torrap', 'torpar', 'torpra', 'torapr', 'torarp', 'torrpa', 'torrap']

In [ ]:
n = 10
l = []


for i in range(2,n):
    is_prime = True
    for j in range (2,i):
        if i%j==0:
            is_prime = False
    if is_prime:
        l.append(i)


print("Prime numbers", l)

Prime numbers [2, 3, 5, 7]

In [21]:

#Fibonacci Series

n = 10
l = []
a,b = 0,1
for _ in range(n):
    l.append(a)
    a,b = b,a+b

print("FIbonacci series is ",l)

FIbonacci series is  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [24]:
#Factorial

n = 10
s = 1

for i in range(1,n+1):
    s = s*i
    n=n-1
print(" Factorial of 10 is",s)

 Factorial of 10 is 3628800

In [27]:
num = [1,2,3,4,5]
s = 0
for i in num:
    s = s+i
print("Mean is ",s/(len(num)))

Mean is  3.0

In [30]:
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)
    

print("Factorial is ",fact(10))

Factorial is  3628800

In [1]:
import pandas as pd
import numpy as np

# 1. Create a sample DataFrame
data = {
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Price': [150.00, 45.50, 210.00, 99.99, 15.00],
    'Quantity': [10, 50, 5, 20, 100]
}
df = pd.DataFrame(data)
print("--- Original DataFrame ---")
print(df)
print("-" * 30)

# 2. Use a Lambda Function with .apply() to update a new column

# We want to categorize the price:
# - If Price > 100, category is 'High'
# - Otherwise, category is 'Low'

# df['Price_Category'] = df['Price'].apply(
#     lambda x: 'High' if x > 100 else 'Low'
# )

df['Price'] = df['Price'].apply(lambda x: x * 500)

print("--- Updated DataFrame ---")
print(df)

--- Original DataFrame ---
  Product   Price  Quantity
0       A  150.00        10
1       B   45.50        50
2       C  210.00         5
3       D   99.99        20
4       E   15.00       100
------------------------------
--- Updated DataFrame ---
  Product     Price  Quantity
0       A   75000.0        10
1       B   22750.0        50
2       C  105000.0         5
3       D   49995.0        20
4       E    7500.0       100

In [43]:
#Median

num = [2, 3, 4, 5, 6, 7]
s = sorted(num)
l = len(num)
m = l//2

if l%2==0:
    median = (s[m-1] + s[m])/2
else:
    median = s[m]

print("median is", median)

median is 4.5

In [46]:
from collections import Counter

data1 = [2, 3, 4, 5, 6, 7, 7, 3, 3,3]
count = Counter(data1)

print(count)
max_freq = max(count.values())
print(max_freq)
# Find all numbers with frequency == max_freq
modes = [num for num, freq in count.items() if freq == max_freq]

# If only one mode, return it as a single value, otherwise return list
# print(modes[0] if len(modes) == 1 else modes)

Counter({3: 4, 7: 2, 2: 1, 4: 1, 5: 1, 6: 1})
4

Mphasis

In [11]:
class A:
    def test(self):
        print("A")

class B:
    def test(self):
        print("B")

class C(A, B):
    # This method is empty, so Python finds the first parent method (A.test)
    # print("C")
    # pass
    def test(self):
        # print("C")
        pass

C().test()
# Output: A